h1 {
    color: white;
    text-align: center;
}

#home-div {
    margin-top: 120px;
}

#picture-header {
    align-items: center;
}

#github-card {
    background-color: black;
    align-items: center;
    color: white;
}

#personal-statement {
    letter-spacing:4px;
}

