.navsegment {
  border: 10px;
  border-color: white;
  color: white;
}

/* #basic-navbar-nav {
  align-items: center;
  justify-content: center;
  display: inline-block;
} */

#logo {
  max-width: 150px;
  max-height: 110px;
}
.nav-tab {
  display: inline-block;
  justify-content: right;
  text-align: right;
  color: white;
  /* border: white dashed .05px; */
}

/* .show {
  justify-content: right;
} */

.me-auto {
  justify-content: center;
}


.logo:hover {
  transform:scale(1);
  -ms-transform:scale(2); /* IE 9 */
  -moz-transform:scale(2); /* Firefox */
  -webkit-transform:scale(2); /* Safari and Chrome */
  -o-transform:scale(2); /* Opera */
}

.logo {
  transform:scale(1.5);
  -ms-transform:scale(1.5); /* IE 9 */
  -moz-transform:scale(1.5); /* Firefox */
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -o-transform:scale(1.5); /* Opera */
}

.nav-link {
font-size: 150%;
color: white;
text-decoration: underline;
}